
.container {
    background-color: #fff;
    border-radius: 8px;
    max-width: 1000px;
    margin: 0 auto;
}

.admin-header {
    text-align: center;
    margin-bottom: 40px;
    font-family: "Domine", serif;
    color: #928178;
    font-size: 30px;
    font-weight: normal;
}

.header-actions {
    /* color: #928178; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
    max-width: 1000px;
}

.search-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 89%;
    font-size: 16px;
}

.reset-fields {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-fields input[type="text"],
.search-fields input[type="date"],
.search-fields select {
    padding: 8px 10px;
    border: 1px solid #ccc;
    background-color: #e7e7eb;
    border-radius: 1px;
    height: 50px;
    box-sizing: border-box;
    color: #928178;
    font-family: "Domine", serif;
}

.search-button {
    width: 10%;
    padding: 8px 15px;
    height: 50px;
    box-sizing: border-box;
    background-color: #a99e93;
    font-family: "Domine", serif;
    color: white;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

.reset-fields button {
    width: 100%;
    padding: 8px 15px;
    background-color: #c8c2be;
    color: white;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    height: 50px;
    box-sizing: border-box;
    font-family: "Domine", serif;
}

.item {
    width: 35%;
}

.gender {
    width: 10%;
}

.inquiry {
    width: 20%;
}

.date {
    width: 15%;
}

.export {
    margin-bottom: 10px;
}

.export-button {
    padding: 8px 15px;
    background-color: #eae5e3;
    font-family: "Domine", serif;
    color: #928178;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

.table-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.table-th,
.table-td {
    padding: 15px 20px;
    /* padding-left: 30px; */
    text-align: left;
    color: #928178;
    font-family: "Domine", serif;
}

.table-th {
    background-color: #928178;
    color: white;
    font-family: "Domine", serif;
}

.pagination {
    text-align: right;
}

.pagination ul {
    display: inline-flex;
    list-style: none;
    /* border-radius: 2px; */
    padding: 0;
    margin: 0;
}

.pagination li a,
.pagination li span {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    height: 35px;
    padding: 0;
    border: 1px solid #ccc;
    /* border-radius: 1px; */
    text-decoration: none;
    color: #6c757d;
    background-color: #f8f9fa;
    font-size: 0.9rem;
}

.pagination li a:hover {
    background-color: #eae5e3;
    border-color: #bbb;
}

.pagination li.active span {
    background-color: #928178;
    color: white;
    border-color: #928178;
}

.pagination li.disabled span,
.pagination li.disabled a {
    color: #928178;
    background-color: #928178;
    cursor: default;
    pointer-events: none;
}


/* モーダル Styles (CSS only) */
.modal-css {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow-y: auto;
}

.details-button-css {
    display: block;
    padding: 6px 10px;
    background-color: #eae5e3;
    color: #928178;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-family: "Domine", serif;
}

.modal-css__content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 700px;
    padding: 30px;
    border-radius: 2px;
    border: none;
}

/* モーダルヘッダーのスタイル */
.modal-css__header {
    padding: 15px;
    display: flex;
    align-items: center;
}

.modal-css__close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5em;
    color: #333;
    text-decoration: none;
}

.modal-css__close:hover {
    color: #000;
}

/* モーダルボディのスタイル */
.modal-css__table {
    padding: 20px;
}

.modal-css__table table {
    width: 100%;
    border-collapse: collapse;
}

.modal-css__item {
    width: 100%;
    display: table-row;
    color: #928178;
    font-family: "Domine", serif;
}

.modal-css__label,
.model-css__value {
    display: table-cell;
    padding: 20px 10px;
    padding-left: 30px;
    text-align: left;
    vertical-align: top;
    align-items: top;
    color: #928178;
    font-family: "Domine", serif;
}

.modal-css__label {
    width: 200px;
    font-weight: bold;
    margin-right: 20px;
}

.modal-css__inquiry-body {
    white-space: pre-wrap;
    /* 改行を保持して表示 */
}

/* モーダルフッターのスタイル */
.modal-css__footer {
    padding: 15px;
    text-align: center;
    margin-top: 40px;
    /* ボタンを右寄せにする */
}

/* 削除ボタンのスタイル */
.modal-css__delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1em;
}

.modal-css__delete-button:hover {
    background-color: #c82333;
}

/* :target 擬似クラスでモーダルを表示 */
.modal-css:target {
    display: block;
}

