body {
    background-color: #eae5e3;
}

.login-header {
    text-align: center;
    font-weight: normal;
    margin: 30px;
    font-family: "Domine", serif;
    color: #928178;
    font-size: 30px;
}

.login {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: white;
    border-radius: 3px;
    border: rgba(0, 0, 0, 0.1) 1px solid;
    font-family: "Domine", serif;
    color: #928178;
}

.login-form .form-group {
    margin-bottom: 40px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    color: #928178;
    font-family: "Domine", serif;
    font-size: 18px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: calc(100% - 12px);
    padding: 10px 20px;
    border: none;
    background-color: #e7e7eb;
    border-radius: 4px;
    font-size: 1em;
    color: #928178;
    font-family: "Domine", serif;
}

.button {
    text-align: center;
}

.login-form button.login-button {
    background-color: #928178;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    width: 120px;
    font-family: "Domine", serif;
}

.login-form button.login-button:hover {
    background-color: #d3cbc6;
}